:root {
  --c1: oklch(0.365 0.0394 226.32);
  --c2: oklch(0.6017 0.094 178.84);
  --c3: oklch(0.8126 0.1281 87.66);
  --c4: oklch(0.7592 0.1357 56.41);
  --c5: oklch(0.6961 0.16 36.34);
  --c-surface: #fbf3dc;
  --fg: oklch(1 0 0);
  --bg: oklch(0.318 0 0);
}
